[user]
  name = Iago Dahlem Lorensini
  email = iagodahlemlorensini@gmail.com
  editor = subl
[github]
  user = iagodahlem
[core]
  editor = vim
  excludesfile = ~/.gitignore_global
[commit]
  template = ~/.gitmessage
[alias]
  # git
  g = git

  # add
  ad = add
  aa = add --all
  ap = add -p

  # branch
  ba = branch -a
  bd = branch -d
  bD = branch -D
  bl = branch -l
  bv = branch -v

  # checkout
  co = checkout
  cob = checkout -b
  com = checkout master
  discard = checkout --

  # cherry-pick
  cp = cherry-pick -x

  # clone
  cl = clone

  # commit
  ci = commit
  cim = commit -m
  cia = commit --amend
  ciam = commit -am

  # diff
  df = diff
  dfs = diff --staged
  dfc = diff --cached
  last = diff HEAD^ # diff last commited change

  # fetch
  ft = fetch
  ftp = fetch -p

  # helpers
  bam = !git branch --merged master | grep -v master | xargs git branch -d
  sync = !git pull && git push

  # lists
  aliases = !git config -l | grep alias | cut -c 7-
  branchs = branch -v
  configs = config --list
  remotes = remote -v
  tags = tag -l

  # logs
  l = log --oneline --date=short
  lg = log --oneline --pretty=format:'%h %ad | [%an] %s%d' --graph --date=short
  changes = log --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\" --name-status
  short = log --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\"
  simple = log --pretty=format:\" * %s\"
  shortnocolor = log --pretty=format:\"%h %cr %cn %s\"

  # merge
  mg = merge
  mgm = merge master

  # pull
  pl = pull

  # push
  ps = push
  psu = push -u
  psuo = push -u origin
  psuom = push -u origin master
  undopush = push -f origin HEAD^:master

  # reset
  unstage = reset HEAD
  uncommit = reset --soft HEAD^
  undocommit = reset --hard HEAD^

  # stash
  sh = stash
  sha = stash apply
  shd = stash drop
  shl = stash list
  shp = stash pop
  shs = stash show

  # status
  st = status
  ss = status -s
[color]
  ui = auto
  branch = auto
  diff = auto
  status = auto
[color "diff"]
  frag = magenta bold
  meta = yellow bold
  new = green
  old = red
[color "status"]
  added = cyan bold
  branch = cyan bold
  changed = magenta bold
  deleted = red bold
  untracked = yellow bold
[push]
  # 'git push' will push the current branch to its tracking branch
  # the usual default is to push all branches
  default = simple
