subl/Color Highlighter/
subl/Package Control.cache/
subl/Package Control.last-run
subl/Package Control.merged-ca-bundle
subl/Package Control.user-ca-bundle
subl/Side Bar Folders.sublime-settings
subl/Side Bar Folders/
subl/SublimeLinter/
subl/gitignorer.sublime-settings
