[Desktop Entry]
Icon=rescuetime
Type=Application
Exec=rescuetime
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=RescueTime
Comment=Keep your time rescue
