[Desktop Entry]
Icon=caffeine
Name=Caffeine Indicator
Name[en_US]=Caffeine Indicator
Type=Application
Exec=caffeine-indicator
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Comment=Temporarily deactivate the screensaver and sleep mod
Comment[en_US]=Temporarily deactivate the screensaver and sleep mod
Comment[pt_BR]=Desative temporariamente a proteção de tela e a hibernação