[Desktop Entry]
Type=Application
Version=1.0
Name=cerebro
Comment=cerebrostartup script
Exec=/tmp/.mount_jA2d2A/usr/bin/cerebro
StartupNotify=false
Terminal=false