[Desktop Entry]
Type=Application
Vestion=1.0
Name=Franz
Comment=Franz startup script
Exec=/home/iago/.softwares/Franz/Franz
StartupNotify=false
Terminal=false