[Desktop Entry]
Comment=Color temperature adjustment tool
StartupNotify=true
Name=Redshift
Exec=redshift-gtk
Terminal=false
GenericName=Color temperature adjustment
Icon=redshift
Categories=Utility;
Hidden=false
Version=1.0
X-GNOME-Autostart-enabled=true
Type=Application
