#
# Aliases
# --------------------------------------------------------------------

# -- Config -------------------
EDITOR="subl"
DEV="$HOME/dev"
REPOS="$DEV/repos"
PROJECTS="$DEV/projects"
APTGET="sudo apt-get"

# -- APT-GET ------------------
alias update="$APTGET update"
alias upgrade="$APTGET upgrade"
alias dist-upgrade="$APTGET dist-upgrade"
alias install="$APTGET install"
alias remove="$APTGET remove"
alias clean="$APTGET clean"
alias autoclean="$APTGET autoclean"
alias autoremove="$APTGET autoremove"

# TODO
# Change dotfiles path
# -- Dotfiles -----------------
alias dotconfig="$EDITOR $REPOS/dotfiles"

# TODO
# Change sublime-preferences path
# -- Sublime ------------------
alias sublthis="$EDITOR ./"
alias sublconfig="$EDITOR $REPOS/sublime-preferences"

# -- ZSH & Oh-My-Zsh ----------
alias reload='. $HOME/.zshrc'
alias zshconfig="$EDITOR $HOME/.zshrc"
alias ohmyzsh="$EDITOR $HOME/.oh-my-zsh"

# -- Workflow -----------------
alias dev="cd $DEV"
alias repos="cd $REPOS"
alias proj="cd $PROJECTS"
alias work=""
