#
# Aliases
# --------------------------------------------------------------------

# -- Config ----------------------------------------------------------
EDITOR="subl"
HOME="/home/iago"
DEV_PATH="$HOME/dev"
REPOS_PATH="$DEV_PATH/repos"
PROJECTS_PATH="$DEV_PATH/projects"
APT_GET="sudo apt-get"

# -- APT-GET ---------------------------------------------------------
alias update="$APT_GET update"
alias upgrade="$APT_GET upgrade"
alias dist-upgrade="$APT_GET dist-upgrade"
alias install="$APT_GET install"
alias remove="$APT_GET remove"
alias clean="$APT_GET clean"
alias autoclean="$APT_GET autoclean"
alias autoremove="$APT_GET autoremove"

# -- Dotfiles --------------------------------------------------------
alias dotconfig="$EDITOR $REPOS_PATH/dotfiles"

# -- Sublime ---------------------------------------------------------
alias sublthis="$EDITOR ./"
alias sublconfig="$EDITOR $REPOS_PATH/sublime-preferences"

# -- ZSH / Oh-My-Zsh -------------------------------------------------
alias reload='. $HOME/.zshrc'
alias zshconfig="$EDITOR $HOME/.zshrc"
alias ohmyzsh="$EDITOR $HOME/.oh-my-zsh"

# -- Workflow --------------------------------------------------------
alias dev="cd $DEV_PATH"
alias repos="cd $REPOS_PATH"
alias proj="cd $PROJECTS_PATH"
alias work=""
