#
# Aliases
# ===========================================

# Config Variables
REPOS_PATH="~/dev/repos"
EDITOR="subl"

# apt-get
alias update="sudo apt-get update"
alias upgrade="sudo apt-get upgrade"
alias dist-upgrade="sudo apt-get dist-upgrade"
alias install="sudo apt-get install"
alias remove="sudo apt-get remove"
alias clean="sudo apt-get clean"
alias autoclean="sudo apt-get autoclean"
alias autoremove="sudo apt-get autoremove"

# Dotfiles
alias dotfilesconfig="$EDITOR $REPOS_PATH/dotfiles"

# Subl Aliases
alias sublthis="subl ./"

# Sublime Preferences
alias sublconfig="$EDITOR $REPOS_PATH/sublime-preferences"

# ZSH / oh-my-zsh
alias zshconfig="$EDITOR ~/.zshrc"
alias ohmyzsh="$EDITOR ~/.oh-my-zsh"
