# dotfiles support
alias dots="cd $DOTFILES"
alias dotsconf="cd $DOTFILES && $EDITOR ."

# apt
alias autoclean="sudo apt autoclean"
alias autoremove="sudo apt autoremove -y --purge"
alias check="sudo apt check"
alias clean="sudo apt clean"
alias dist-upgrade="sudo apt dist-upgrade -y"
alias install="sudo apt install -y"
alias i="install"
alias purge="sudo apt purge -y"
alias remove="sudo apt remove -y"
alias update="sudo apt update"
alias upgrade="sudo apt upgrade -y"

alias up="update && upgrade && dist-upgrade"
alias cleanup="clean && autoclean && autoremove"

# directories
alias dev="cd $DEV"
alias desktop="cd $DESKTOP"
alias downloads="cd $DOWNLOADS"
alias projects="cd $PROJECTS"

alias dlist="dirs -v | head -10"

# directories shortcuts
alias dv="dev"
alias dt="desktop"
alias dl="downloads"
alias pr="projects"

# show human friendly numbers and colors
alias df='df -h'
alias du='du -h -d 2'

# override rm -i alias which makes rm prompt for every action
alias rm='nocorrect rm'

# general commands
alias cat="pygmentize -O style=monokai -f console256 -g"
alias top="htop"
alias t="top"

# hosts
alias hosts="sudo $EDITOR /etc/hosts"

# zsh & oh-my-zsh
alias reload=". ~/.zshrc"
alias r="reload"
alias zsh="$EDITOR $HOME/.zshrc"
alias ohmyzsh="$EDITOR $HOME/.oh-my-zsh"

# node / npm
alias install-global-packages="npm install -g $(cat $DOTFILES/npm/globals)"

# docker
alias dc="docker"
alias dcc="docker-compose"

# bundle
alias be="bundle exec"
alias bi="bundle install"
