# dotfiles
alias dots="cd $DOTFILES"

# brew
alias install="brew install"
alias cask="brew cask install"
alias update="brew update"
alias upgrade="brew upgrade"
alias up="update && upgrade"
alias cleanup="brew cleanup"

# directories
alias dev="cd $CODE"
alias desktop="cd $DESKTOP"
alias downloads="cd $DOWNLOADS"

alias dlist="dirs -v | head -10"

# directories shortcuts
alias dv="dev"
alias dt="desktop"
alias dl="downloads"

# show human friendly numbers and colors
alias df='df -h'
alias du='du -h -d 2'

# override rm -i alias which makes rm prompt for every action
alias rm='nocorrect rm'

# general commands
alias top="htop"

# hosts
alias hosts="sudo $SUBL /etc/hosts"

# zsh & oh-my-zsh
alias reload=". $HOME/.zshrc"
alias r="reload"
alias zsh="$EDITOR $HOME/.zshrc"
alias ohmyzsh="$EDITOR $HOME/.oh-my-zsh"

# node / npm
alias install-global-packages="npm install -g $(cat $DOTFILES/npm/globals | grep -v '#')"

# docker
alias dc="docker"
alias dcc="docker-compose"

# bundle
alias bi="bundle install"
alias bx="bundle exec"
