#
# Aliases
# ---------------------------------------------------------------------

# -- APT-GET ----------------------
alias update="$APTGET update"
alias upgrade="$APTGET upgrade"
alias dist-upgrade="$APTGET dist-upgrade"
alias install="$APTGET install"
alias remove="$APTGET remove"
alias clean="$APTGET clean"
alias autoclean="$APTGET autoclean"
alias autoremove="$APTGET autoremove"
alias superup="$APTGET update && $APTGET upgrade -y && $APTGET dist-upgrade -y"
alias superclean="$APTGET clean && $APTGET autoclean && $APTGET autoremove -y"

# -- Dotfiles ---------------------
alias dotconfig="$EDITOR $DOTFILES && cd $DOTFILES"
alias dotfiles="cd $DOTFILES"

# -- Directories ------------------
alias dev="cd $DEV"
alias repos="cd $REPOS"
alias projs="cd $PROJECTS"
alias docs="cd $DOCUMENTS"
alias downs="cd $DOWNLOADS"
alias dropbox="cd $DROPBOX"
alias softs="cd $SOFTWARES"

# -- Server PHP -------------------
# Nginx / PHP / MySQL
alias server-start="$SERVICE_NGINX start && $SERVICE_MYSQL start && $SERVICE_PHP start"
alias server-restart="$SERVICE_NGINX restart && $SERVICE_MYSQL restart && $SERVICE_PHP restart"
alias server-stop="$SERVICE_NGINX stop && $SERVICE_MYSQL stop && $SERVICE_PHP stop"

# -- Top --------------------------
alias top="htop"

# -- Trash ------------------------
alias tr="trash"
alias et="empty-trash"

# -- Workflow ---------------------
alias work=""

# -- ZSH & Oh-My-Zsh --------------
alias reload='. ~/.zshrc'
alias zshconfig="$EDITOR $HOME/.zshrc"
alias ohmyzsh="$EDITOR $HOME/.oh-my-zsh"
