# create a new directory and enter it
function mkd() {
  mkdir -p "$@" && cd "$@"
}

# editor
# `e` with no arguments opens the current directory in current Editor, otherwise
# opens the given location
function e() {
  if [ $# -eq 0 ]; then
    $EDITOR .
  else
    $EDITOR "$@"
  fi
}

function s() {
  if [ $# -eq 0 ]; then
    subl .
  else
    subl "$@"
  fi
}

function v() {
  if [ $# -eq 0 ]; then
    vim .
  else
    vim "$@"
  fi
}
